<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      End User
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-img src="assets/images/bettapet.jpg"></ion-img>
<ion-content class="content-center">
  <div class="button-container">
    <ion-button expand="full" class="centered-button" (click)="login()">Login as End User</ion-button>
    <ion-button expand="full" class="centered-button" (click)="register()">Register as End User</ion-button>
  </div>
</ion-content>
