/* register.page.scss */
.form-title {
  margin-bottom: 20px;
}

ion-item {
  margin-bottom: 20px;
}


/* register.page.scss */
.birth-date-selects {
  display: flex;
}

.birth-date-selects ion-select {
  flex: 1;
  margin-right: 8px;
}
